<nav>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  </p>
  <center><a href="">Professional Webpage</a> </center> 
  </p>
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/IMG_2665.jpg" width="96%" id="IMG_2665.jpg"/>
    {% endif %}
  </a>
  <p>
 <center><img src="/MATHEMATICS/sissa.jpeg" width="70%">  </center>
 <p>
  <div id="bio">
    <small>SISSA <br>
    Via Bonomea 265, 34136 Trieste (TS) <br>
      <a href="https://www.math.sissa.it/content/geometry-and-mathematical-physics-0">Geometry and Mathematical Physics</a></small>
    <p>
    </p>
  </div>
  <div id="social">
 {% include social.html %} 
  </div>
</nav> 
