<nav>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  <center><a href="https://www.unibo.it/sitoweb/andreatobia.ricolfi">Professional Webpage</a> &#8211; <a href="MATHEMATICS/CV.pdf">CV</a></center> 
  </p>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/IMG_2665.jpg" width="96%" id="IMG_2665.jpg"/>
    {% endif %}
  </a>
  <div id="bio">
    Dipartimento di Matematica <br>
    <small>Università di Bologna <br>
    Piazza di Porta S. Donato 5, 40126 (BO)</small>
    <p>
    </p>
  </div>
  <div id="social">
 {% include social.html %} 
  </div>
</nav>
